// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
@import "pvt-table";
@import "morris.core";
@import "chosen/chosen.min";
@import "jquery.dataTables.min";
@import "dataTables.jqueryui.min";


.output { 
  background: white;  
}

table.dataTable tbody tr.group {
  background: rgb(154,160,165);
  color: white;
  text_align: right;
}

table.dataTable tbody tr.group:hover {
  background: rgb(134,140,145);
  color: white;
}

#curr, #prev {
  cursor: pointer;
  border-bottom: 1px dotted black;
}