// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
@import "pvt-table";
@import "morris.core";
@import "chosen/chosen.min";
@import "jquery.dataTables.min";
@import "dataTables.jqueryui.min";

@font-face {
    font-family: 'Roboto Condensed';
    src: url('Roboto-Condensed.ttf') format('truetype'),
}

.output { 
  background: white;  
}

table.dataTable.compact thead th {
    padding: 1px;
    font-size: 9px;
    font-family: Roboto Condensed;
}

table.dataTable.compact tbody td {
    padding: 1px;
    font-family: Roboto Condensed;
}

table.dataTable tbody tr.group {
  background: rgb(154,160,165);
  color: white;
  text_align: right;
}

table.dataTable tbody tr.group:hover {
  background: rgb(134,140,145);
  color: white;
}

#curr, #prev {
  cursor: pointer;
  border-bottom: 1px dotted black;
}

table.dataTable.rating tbody td {
  text-align: center;
}

table.dataTable.rating tbody td:first-child {
  text-align: left;
}

table.dataTable.rating thead th {
  text-align: center;
}

table.dataTable.rating thead th:first-child {
  text-align: left;
}

.dataTables_filter { visibility: hidden;}